[advice]
    statusHints = false # don't show how to unstage files, etc.
[user]
    name = Mike Wadsten
    email = mikewadsten@gmail.com
[core]
    editor = vim
    excludesfile = ~/.git_excludes
    autocrlf = input
[help]
    autocorrect = 1
[init]
    templatedir = ~/.git_template
[github]
    user = mikewadsten
[alias] # Some stolen from Josh Davis
    a = add
    br = branch
    ci = commit -v
    ciam = commit --amend
    cl = clone
    co = checkout
    d = diff
    dc = diff --cached # Include staged files
    get = fetch
    # If only I could alias graph = ls --graph --decorate --all
    gp = log --graph --decorate --all --oneline --format='%C(green bold)%h%Creset %C(yellow bold)[%ar]%Creset %C(red bold)%d%Creset %s %C(blue bold)<%an>%Creset'
    graph = log --graph --decorate --all --oneline --format='%C(green bold)%h%Creset %C(yellow bold)[%ar]%Creset %C(red bold)%d%Creset %s %C(blue bold)<%an>%Creset'
    h = help
    l = log
    ls = log --oneline --format='%C(green bold)%h%Creset %C(yellow bold)[%ar]%Creset %C(red bold)%d%Creset %s %C(blue bold)<%an>%Creset'
    ;ls = log --oneline --format='%Cred%h%Creset %Cyellow[%ar]%C(reset) %C(blue ul)%an%C(reset)%x09 - %s'
    ignored = ls-files -oi --exclude-standard --directory
    pu = push
    pl = pull
    re = reset
    rs = reset
    rv = revert
    s = status --short -b
    # Basic git daemon execution. Allows fetches, no pushes.
    serve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
    # `git serve`, but allowing pushes and giving better errors. Here be dragons.
    server = !git serve --informative-errors --enable=receive-pack
    sl = shortlog
    snu = status --untracked-files=no
    st = status
    un = reset HEAD
    unstage = reset HEAD
    upstream = "!f() { branch=$(git rev-parse --abbrev-ref HEAD); git branch --set-upstream-to=${1:-origin}/${branch} ${branch} ;}; f"

    # New commands
    # As specified by Josh Davis (https://github.com/jdavis/dotfiles)
    amend = commit --amend
    ctags = !.git/hooks/tags_and_stuff
    untrack = update-index --assume-unchanged
    track = update-index --no-assume-unchanged

    # Show Git repository root
    root = rev-parse --show-toplevel
    trymerge = "!f() { git merge --no-commit --no-ff ${1}; git merge --abort ;}; f"
[color]
    ui = always
    status = always
    branch = always
    diff = always
    interactive = always
    [color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
        whitespace = white bold
# Somehow necessary for https (or ssh?) connections
[http]
    sslVerify = false
[push]
    default = upstream
[pull]
    # Never start a merge when pulling
    ff = only
[tag]
    sort = -version:refname
[include]
    path = .digi.gitconfig
